<div class='field_label'><label for='<%=field_id%>'><%=label%></label></div>
<div class='form_field' class='fieldWithErrors'>
<div class='form_error_message'><%=label%>  <%=error%> </div>
<%= element %>
</div><div style='clear: both'>&nbsp;</div>